.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodyConteudo{
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  box-sizing: border-box;
}
.navContainer{
  color: aliceblue;
  max-width: 100%;
  background-color:#282c34;
  height: 50px;
  box-shadow: #282c34;
  text-align: center;
  display: flexbox;
}

.navContainer a{
  color: antiquewhite;
  padding: 20px;
}
.Homecard1{
  grid-column: 1/ span 2;
  grid-row: 1;
  background-color: #61dafb;
}
.Homecard2{
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 3/ span 4;
}
p{
  text-align: center;
}
.ActionButton{
  float: right;
  margin: 10px;
  position: relative;
  left: 65%;
  z-index: -1;

}
.ActionButton input{
  height: 50px;
  width: 150px;
  border-radius: 10px;
}
header{
  display: flex;
}

/* ----------------------- CSS Formulário de Entrada -------------------------*/
.FormEntrada{
  position: absolute;
  justify-self: center;
  width: 80%;
  height: 500px;
  background-color: #ffffff;
  border: solid 1px #282c34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* display: none; */
  border-radius: 10px;
}
form{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
form input{ 
  margin: 10px;
  border: solid 2px rgb(94, 94, 94);
  border-radius: 10px;
  height: 30px;
}
#transportadora{
  width: 330px;
}
#motorista{
  width: 450px;
}
#ajudante{
  width: 425px;
}
#enviar{
  width: 200px;
  height: 50px;
  background-color: rgb(223, 70, 70);
  color: #ffffff;
}