.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navContainer{
  color: aliceblue;
  max-width: 100%;
  background-color: #002d45; 
  height: 50px;
  box-shadow: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer a{
  color: antiquewhite;
  padding: 25px;
}

/*********************************** CSS Home ************************************/
.bodyConteudo{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 85vh;
  overflow: hidden;
  box-sizing: border-box;
}
.bodyConteudo h2{
  font-size: 40px;
  margin: 10px;

}
.bodyConteudo a{
  font-size: 30px;
  margin: 10px;
}
.Homecard1{
  grid-column: 1/ span 2;
  grid-row: 1;
  background-color: #61dafb;
}
.Homecard2{
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 3/ span 4;
}
p{
  text-align: center;
}
.ActionButton{
  float: right;
  margin: 10px;
  position: relative;
  height: 50px;
  width: 150px;
  border-radius: 10px;

}
footer{
  color: #ffffff;
  justify-items: center;
  min-height: 9vh;
  background-color: #002d45;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
}
.valores-container{
  display: flex;
  justify-content: space-around;
  z-index: inherit ;
  transform: translateY(50%);
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(71, 33, 223, 0.2), 0 6px 20px 0 rgba(21, 18, 52, 0.326);
}
.icon{
  width: 50px;
  height: 50px;
  margin: 15px;
}
/* ----------------------- CSS Formulário de Entrada -------------------------*/
.FormEntrada{
  position: absolute;
  width: 80%;
  height: 60vh;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transform: translate(12%, 12%);
  z-index: 100;

}
form{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  
}
.FormEntrada h2{
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
form input{ 
  margin: 10px;
  border: solid 2px rgb(94, 94, 94);
  border-radius: 10px;
  height: 30px;
}
#transportadora_input{
  width: 25vw;
}
#motorista{
  width: 30vw;
}
#rg{
  width: 14vw;
}
#ajudante{
  width: 25vw;
}
#rg-ajudante{
  width: 14.5vw;
}
#placa{
  width: 10vw;
}
#enviar{
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(223, 70, 70);
  color: #ffffff;
 transform: translate(100%, 50%);
}
#select{

    width: 15vw;
    height: 30px;
    border-radius: 10px;
    margin: 10px;

}
h1{
  text-align: center;
}
/*----------------------------Layout Transportadora List-------------------*/
.TransportadorasBody{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 85vh;
  overflow-y:scroll;
  box-sizing: border-box;
}
/* .TransportadorasBody header{
  justify-items: center;
  min-height: 9vh;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: fixed;
} */
/* .Transportadoras{
  border:1px solid rgb(0, 0, 115);
  border-radius:10px  10px 0 0;
  min-width: 80%;
} */

.cardLista{
  width: 95vw;
  min-height: 50px;
  background-color: #d7d7d7;
  margin: 0 15px 20px ;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Entrega {
  background-color: #5bd07223; /* Verde claro */
  border: solid 4px #5bd072;;
}

.Coleta {
  background-color: #5bc4de17; /* Azul claro */
  border: solid 4px #5bc4de;;
}

.ListaTransportadoras{
  justify-content: center;
}

.ListaTransportadoras input{
  font-size: 0.7rem;
  width: 9vw;
  text-align: center;
}
#btn-saida{
  height: 35px;
  border-radius: 10px;
  color: #f3f3f3;
  background-color: #d63333;
  border: solid 1px #000000;
}
.filtroTransp{
  width: 12vw;
  height: 5vh;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.332) ;
}
 /*-------------------------Painel Patio ----------------------------*/
.PatioBody{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 85.7vh;
  box-sizing: border-box;
}
.PatioCards{
  display: flex;
  margin: 5px;
}
.CardPatio{
  background-color: #ecfbff;
  height: 200px;
  margin: 5px;
}

.EntregaPatio {
  background-color: #9cfbaf46; /* Verde claro */
  border: solid 4px #5bd072;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}

.ColetaPatio {
  background-color: #aaeeff36;
  border: solid 4px #5bc4de;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
}


.CardPatio_1{
  text-align: center;
  background-color: #b7faf25e;
  border: solid 4px #b7faf2;
  width: 70%;
  height: 59vh;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.CardPatio_1 h3{
  font-size: 40px;
}

.CardPatio_1 a{
  font-size: 30px;
}
.CardPatio_1 label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
.CardPatio_2{
  text-align: center;
  height: 59vh;
  width: 30%;
  overflow-y: scroll;
}

 .loader {
  position: relative;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  left: 45%;
}


/*---------------------- Login -------------------------*/
.LoginBody{
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 85.7vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.LoginForm{
  background-color: #002d45;
  height: 50%;
  border-radius: 10px;
  color: #ecfbff;
}
.LoginForm label, input, button{
  padding: 10px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --------------------------------- View Relatório -----------------------------------*/
.RelatorioBody{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  height: 85.7vh;
  box-sizing: border-box;
}

.Tabela{
  border-collapse: collapse;
  margin: 10px; 
  width: 97vw; 
  display: block; 
  height: 65vh; 
  overflow-y: auto;
}

.Tabela thead {
	position: sticky; /* Faz o cabeçalho fixo */
	top: 0;
	background-color: #b9cae2; /* Fundo para diferenciar */
	z-index: 1; /* Garante que o cabeçalho fique acima */
}

.Tabela th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.Tabela th{
  padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	width: 20vw;

}

.Tabela td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	width: 25vw;

}


tr:hover {
	
	background-color: #cbcbcba5;
	cursor: pointer;
	transition: 0.5s;
}

/*----------------------------------------- FIM -----------------------------------------*/
/* ----------------------------------- Responsividade --------------------------------- */
@media screen and (max-width: 750px) {

  .bodyConteudo{
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
  }
  .FormEntrada{
    position: absolute;
    width: 80%;
    height: 100vh;
    background-color: #ffffff;
    border: solid 1px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transform: translate(12%, -5%);
    z-index: 100;

  }
  #transportadora_input{
    width: 69vw;
  }
  #motorista{
    width: 69vw;
  }
  #rg{
    width: 69vw;
  }
  #ajudante{
    width: 69vw;
  }
  #rg-ajudante{
    width: 69vw;
  }
  #placa{
    width: 69vw;
  }
  #enviar{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(223, 70, 70);
    color: #ffffff;
   /* transform: translate(125%, 150%);*/
  }
  #select{
  
      width: 15vw;
      height: 30px;
      border-radius: 10px;
      margin: 10px;
  
  }
}