.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navContainer{
  color: aliceblue;
  max-width: 100%;
  background-color: #002d45; 
  height: 50px;
  box-shadow: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer a{
  color: antiquewhite;
  padding: 25px;
}

/*********************************** CSS Home ************************************/
.bodyConteudo{
  width: 100%;
  overflow: hidden;
  justify-content: center;
  min-height: 582px;
  overflow: hidden;
  box-sizing: border-box;
}
.bodyConteudo h2{
  font-size: 40px;
  margin: 10px;

}
.bodyConteudo a{
  font-size: 30px;
  margin: 10px;
}
.Homecard1{
  grid-column: 1/ span 2;
  grid-row: 1;
  background-color: #61dafb;
}
.Homecard2{
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 3/ span 4;
}
p{
  text-align: center;
}
.ActionButton{
  float: right;
  margin: 10px;
  position: relative;
  height: 50px;
  width: 150px;
  border-radius: 10px;

}
footer{
  color: #ffffff;
  justify-items: center;
  min-height: 9vh;
  background-color: #002d45;
  display: flex;
  justify-content: center;
  align-items: center;
}
.valores-container{
  display: flex;
  justify-content: space-around;
  z-index: inherit ;
  transform: translateY(50%);
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(71, 33, 223, 0.2), 0 6px 20px 0 rgba(21, 18, 52, 0.326);
}
.icon{
  width: 50px;
  height: 50px;
  margin: 15px;
}
/* ----------------------- CSS Formulário de Entrada -------------------------*/
.FormEntrada{
  position: absolute;
  width: 80%;
  height: 500px;
  background-color: #ffffff;
  border: solid 1px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  transform: translate(12%, 20%);
  z-index: 100;
}
form{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
form input{ 
  margin: 10px;
  border: solid 2px rgb(94, 94, 94);
  border-radius: 10px;
  height: 30px;
}
#transportadora{
  width: 450px;
}
#motorista{
  width: 450px;
}
#ajudante{
  width: 500px;
}
#enviar{
  width: 200px;
  height: 50px;
  background-color: rgb(223, 70, 70);
  color: #ffffff;
  transform: translate(60vh, 10vh);
}
h1{
  text-align: center;
}
